
  <div class="content login">
    <div class="flash">
      <% flash.each do |type, message| %>
        <div class="message notice">
          <p>
            <%= message %>
          </p>
        </div>
      <% end %>
    </div>
 

<div class="alert alert-primary text-center"><h1> ورود</h1> </div>

 <%= form_tag do %>

<div class="container">
    <form class="form-horizontal" role="form" method="POST" action="/register">
        
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">نام کاربری</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <%= text_field_tag :name, params[:name]  ,class:"form-control"%>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">گذر واژه</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                      <%= password_field_tag :password, params[:password],class:"form-control" %>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
      
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
               <%= submit_tag "ورود" , class:'btn btn-primary'%>
            </div>
        </div>
    </form>
  <% end %>