<head>
<%= stylesheet_link_tag "clean-blog.css" %>
</head>
 <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/users/<%= session[:user_id] %>/edit"><%= session[:user_name] %> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/posts">پست ها</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/new">پست جدید</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="users/new">ثبت نام</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="logout">خروج</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">ورود</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">صفحه اصلی</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <header class="masthead bg1" >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h2>دانشگاه انفور ماتیک ایران</h2>
              <span class="subheading">وبلاگ و یاداشت های روزانه دانشجویان </span>
            </div>
          </div>
        </div>
      </div>
    </header>


<div class="container">

  <div class="row">
  <% @posts.each do |post| %>
    <div class="col-lg-12 col-md-12 mx-auto">
     
      <div class="post-preview ">
          <h2 class="post-title text-right">
           <%= post.name %>
          </h2>
         
          <h3 class="post-subtitle text-right">
            <%= post.body %>
          </h3>
       
        <p class="post-meta text-right"> تاریخ ارسال
        <%= post.created_at %>
         </p>
          <%= link_to '<button type="button" class="btn btn-success btn-sm">نمایش</button>'.html_safe, post %>
      </div>
       <hr>
    </div>
   
    <%end%>
  </div>
</div>



    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/developer_kev">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://t.me/hexytor">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-telegram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://gitlab.com/dev.kev">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted"> &copy;  پروژه وبلاگ m.ghorbani </p>
          </div>
        </div>
      </div>
    </footer>
   
</body>