
<div class="alert alert-primary text-center"><h1> کاربر جدید</h1> </div>

<%= render 'form', user: @user %>

<%= link_to '<button type="button" class="btn btn-danger btn-sm">بازگشت</button>'.html_safe, users_path %>

